@font-face {
  font-family: "HobbertChiporiText";
  src: url("HobbertChiporiText-Regular.otf");
}

@font-face {
  font-family: Papyrus;
  src: url("Papyrus.ttf");
}

body {
  margin: 0px;
  overflow: hidden;
}

h1,
p {
  margin: 0px;
}
